.seat{
    background-color: aqua;
    display: flex;
    padding: 10px;
    margin: auto;
    height: 50px;
    width: 50px;
}

.seat-container{
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: repeat(5,1fr);
    /* flex-direction: row; */
    grid-auto-flow: row;
    flex-wrap: wrap;
    padding: 10px;
    row-gap: 20px;
    margin: auto;
    justify-content:space-around;
    padding: auto;
 
}

.main-div{
    background-color: rgb(148, 151, 145);
    width: 170px;
}
.title{
    text-align: center;
    font-size: 60px;
}

.screen{
    width: 100%;
    height:100px;
    text-align: center;
    justify-content: center;
    margin: auto;
    background-color: white;
}
